@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

body {
    background: url("background1.jpeg")no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    height: 100% !important;
}
.hm-gradient .full-bg-img {
    background: -webkit-linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(29, 236, 197, 0.4)), to(rgba(96, 0, 136, 0.4)));
    background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(96, 0, 136, 0.4) 100%); 
}
.top-nav-collapse {
    background-color: #3f51b5 !important; 
}
.navbar:not(.top-nav-collapse) {
    background: rgba(255, 255, 255, 0.6) !important;
    position: fixed;
    width: 100%;
    z-index: 1;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #3f51b5 !important;
    } 
}
.sink {
    margin-top: 0.9in;
}
.pushright {
    margin-left: 0.1in;
}
.panel-default, .panel-bt {
    background: rgba(0, 0, 0, 0.66) !important;
    color: #ccddff;
}