@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

body {
    background: url("background1.jpeg")no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    height: 100% !important;
}
.hm-gradient .full-bg-img {
    background: -webkit-linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(29, 236, 197, 0.4)), to(rgba(96, 0, 136, 0.4)));
    background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(96, 0, 136, 0.4) 100%); 
}
.top-nav-collapse {
    background-color: #3f51b5 !important; 
}
.navbar:not(.top-nav-collapse) {
    background: rgba(255, 255, 255, 0.6) !important;
    position: fixed;
    width: 100%;
    z-index: 1;
}
@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #3f51b5 !important;
    } 
}
.sink {
    margin-top: 0.9in;
}
.pushright {
    margin-left: 0.1in;
}
.panel-default, .panel-bt {
    background: rgba(0, 0, 0, 0.66);
    color: #ccddff;
    margin-right: 0.2cm;
}
.invisible { /*for animations*/
    opacity: 0;
}
/*Hover table row*/
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #111111;
    opacity: 1;
}
.loader {
    border: 16px solid rgba(32, 32, 32, 0.5);
    border-radius: 50%;
    border-top: 16px solid rgba(113, 148, 186, 0.5);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}